/* Edward Riewerts III
    Filename: fishcreek.css
    Last modified:3/30/2020
    Supporting Files: images */

body {
    background-color: #FFFFFF;
    color: #003366;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #003366;
    color: #AEC3E3;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

h1 {
    line-height: 200%;
    text-indent: 1em;
}

nav {
    display: bold
}

dt {
    color: #5280c5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

footer {
    font-size: .70em;
    font-style: italic;
}

/* Class Formats */
.category {
    font-weight: bold;
    color: #5280c5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* id Formats */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
}